@model WebApplicationLabo4.ModelsView.paginador

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (Model.PaginaActual != 1)
        {
                <li class="page-item">
                    <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="1" tabindex="-1">Inicio</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual-1)" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual-1)">@(Model.PaginaActual - 1)</a></li>
        }

        <li class="page-item active">
            <a class="page-link">@(Model.PaginaActual)<span class="sr-only">@*(current)*@</span></a>
        </li>

        @if (Model.PaginaActual < Model.TotalPaginas)
        {
                <li class="page-item"><a class="page-link" asp-route-pagina="@(Model.PaginaActual+1)">@(Model.PaginaActual + 1)</a></li>
                <li class="page-item">
                    <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual+1)">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.TotalPaginas)">Ultima</a>
                </li>
        }

    </ul>
</nav>
Total de registros encontrados: @Model.CantidadRegistros
