@model WebApplicationLabo4.ModelsView.JugadoresViewModel

@{
    ViewData["Title"] = "Jugadores";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get">
    <p>        
        Apellido: <input type="text" name="busquedaApellido" value="@Model.Apellido" />
        Nombres: <input type="text" name="busquedaNombres" value="@Model.Nombres" />

        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jugador[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugador[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugador[0].Biografia)
            </th>
            <th>
                Fotografía
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jugador) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>

            <td>
                 @if (!string.IsNullOrEmpty(item.Foto)) { 
                        <img src="~/images/jugadores/@item.Foto" class="img-thumbnail" class="rounded-circle" style="max-width:100px; max-height:100px;" asp-append-version="true" />
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_paginador" for="@Model.paginador">
